APP_ADDR=""
APP_PORT=8000

DB_HOST=127.0.0.1
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_PORT=5454

DATABASE_URL=postgres://postgres:postgres@localhost:5432/mydb?sslmode=disable

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

MIGRATION_PATH=internal/migrations
