APP_HOST=REPLACE_ME
API_HOST=REPLACE_ME
APP_EMAIL=REPLACE_ME
TELEGRAM_BOT_NAME=REPLACE_ME
ARENA_REQUIRE_AUTH=false
POSTGRES_DB=platform
POSTGRES_USER=platform
S3_BUCKET=REPLACE_ME
S3_REGION=us-east-1
COOKIE_DOMAIN=REPLACE_ME
S3_PUBLIC_ENDPOINT=REPLACE_ME
S3_HOST=REPLACE_ME
MINIO_CONSOLE_HOST=REPLACE_ME
MINIO_CONSOLE_BASIC_AUTH=REPLACE_ME
DATABASE_URL=REPLACE_ME
