{
  email {$APP_EMAIL}
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

(http01_only) {
  tls {
    issuer acme {
      disable_tlsalpn_challenge
    }
  }
}

{$API_HOST} {
  import http01_only
  encode gzip zstd

  handle {
    reverse_proxy backend:8080
  }
}

{$APP_HOST} {
  import http01_only
  encode gzip zstd

  handle {
    reverse_proxy frontend:80
  }
}

{$S3_HOST} {
  import http01_only
  reverse_proxy minio:9000
}

{$MINIO_CONSOLE_HOST} {
  import http01_only
  basic_auth {
    {$MINIO_CONSOLE_BASIC_AUTH}
  }
  reverse_proxy minio:9001
}
