{
	email {$APP_EMAIL}
	debug
}

{$API_HOST} {
	reverse_proxy backend:8080
}

{$APP_HOST} {
	encode gzip zstd
	reverse_proxy frontend:80
}

{$S3_HOST} {
	reverse_proxy minio:9000
}

{$MINIO_CONSOLE_HOST} {
	basic_auth {
		{$MINIO_CONSOLE_BASIC_AUTH}
	}
	reverse_proxy minio:9001
}