POSTGRES_DB=notification_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
HTTP_ADDR=:8080
HTTP_TIMEOUT=5s
GRPC_ADDR=:9000
GRPC_TIMEOUT=5s
DATABASE_URL=postgres://postgres:postgres@localhost:5434/notification_service?sslmode=disable
RTC_VALUES_PATH=.platform/values.yaml
RUN_DB_MIGRATIONS=true
